<%= form_with(model: path) do |form| %>
  <% if path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(path.errors.count, "error") %> prohibited this path from being saved:</h2>

      <ul>
        <% path.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat %>
  </div>

  <div class="field">
    <%= form.label :lng %>
    <%= form.text_field :lng %>
  </div>

  <div class="field">
    <%= form.label :sensor %>
    <%= form.check_box :sensor %>
  </div>

  <div class="field">
    <%= form.label :routes_id %>
    <%= form.text_field :routes_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
