
<%= javascript_pack_tag 'devices', 'data-turbolinks-track': 'reload' %>

  <div id="recorrido">
      <header> 
            <%= image_tag 'paloverdelogo.png', id: 'pvlogo' %> 
            <h1 class="headertitle">Recorrido</h1>
            <h1 class="headercompany">Compañia</h1>
            <div class="labelsinrow">
                <label id="ldate">Fecha y hora: </label>
                <label id="ldatechange">ldatechange</label>
                  <label id="lcubot">Cubot: </label>
              </div>
      </header> 
     <body>      
        <div class="imgrecorrido">
         <article>

         <%= image_tag(@route.image, id: "imgRoute") %>  
         </article>
          <div class="containerbtn">
            <%= link_to_if(@countall-1 > @index,"<button id=btnnext>Siguiente</button>".html_safe, device_route_ind_path(@device.id, @index +1))%>
            <%= link_to_if(@index >0,"<button id=btnback>Anterior</button>".html_safe, device_route_ind_path(@device.id, @index -1))%>
         </div> 
      </div>
      </body>    
  </div>