<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @device.capacity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @device.status %>
</p>

<p>
  <strong>Agricultural companies:</strong>
  <%= @device.agricultural_companies_id %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
