<div class='wrapper fadeInDown'>
  <div id='formContent'>
    <div class='fadeIn first'>
      <img src='<%= image_path "paloverdelogo.png"%>'
        alt='Hola'/>
    </div>

    <%= form_for(resource,
      as: resource_name,
      url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email,
        autofocus: true,
        autocomplete: "email",
        placeholder:"Correo",
        id:"login",
        class: "fadeIn second input-form"
      %>

      <%= f.password_field :password,
        autocomplete: "current-password",
        placeholder:"Contraseña",
        class: "fadeIn third input-form"
      %>
      <%= f.submit "Iniciar sesion",
        class: 'fadeIn fourth'
      %>
    <% end %>

  </div>
</div>

