<%= form_with(model: agricultural_company) do |form| %>
  <% if agricultural_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agricultural_company.errors.count, "error") %> prohibited this agricultural_company from being saved:</h2>

      <ul>
        <% agricultural_company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :responsable %>
    <%= form.text_field :responsable %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
