<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agricultural_company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @agricultural_company.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @agricultural_company.phone %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @agricultural_company.responsable %>
</p>

<%= link_to 'Edit', edit_agricultural_company_path(@agricultural_company) %> |
<%= link_to 'Back', agricultural_companies_path %>
